.vscode/
# frontend
# dependencies
/front-react/node_modules
/front-react/package-lock.json
/front-react/.pnp
/front-react/.pnp.js

# testing
/front-react/coverage
# production
/front-react/build
# misc
/front-react/.DS_Store
/front-react/.env.local
/front-react/.env.development.local
/front-react/.env.test.local
/front-react/.env.production.local
/front-react/npm-debug.log*
/front-react/yarn-debug.log*
/front-react/yarn-error.log*

# backend
# Distribution / packaging
/backend/.Python
/backend/venv/
/backend/build/
/backend/develop-eggs/
/backend/dist/
/backend/downloads/
/backend/eggs/
/backend/.eggs/
/backend/lib/
/backend/lib64/
/backend/parts/
/backend/sdist/
/backend/var/
/backend/*.egg-info/
/backend/.installed.cfg
/backend/*.egg
# Serverless directories
/backend/app/.serverless
/backend/layers
# backend npm
/backend/node_modules/
/backend/package-lock.json
backend/app/__pycache__/

backend/app/\.serverless/
